# MongoDB Atlas Connection String
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/causalfunnel?retryWrites=true&w=majority

# Server Port
PORT=5000

# Node Environment
NODE_ENV=development
